<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link del Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <title>Sesion 14</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    
</head>
<body>

    <div class="formulario" style="text-align: center;">
        <form ng-app="myApp" ng-controller="myCtrl" name="myForm" novalidate>

            <h1 style="font-family: 'Montserrat', sans-serif;">ACTIVIDAD ASINCRÓNICA N°14</h1>

            <p>Código del trabajador: <input type="text" placeholder="" ng-model="codigoTrabajador" required></p>
            <p>Horas trabajadas:<input type="number" ng-model="horasTrabajo" required></p>
            <p>Tarifa por hora: <input type="number" ng-model="tarifaxHoras" required></p>

            <p>Salario Básico: {{calcularTarifa()}}</p>
            <p>{{descuento}} % Descuento: {{calcularDescuento()}}</p>
            <p>El trabajador con código {{codigoTrabajador}} tiene un sueldo de S/{{calcularSueldo()}} </p>
        
        </form>
    </div>

 <!-- Link del Js -->
  <script src="sesion14.js"></script> 
</body>
</html>