<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link del Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   
    <!-- Link del css -->
    <link rel="stylesheet" href="style.css">

    <title>Sesion13</title>
  </head>

  <body>

    <div class="general">
    <div ng-app="myApp" ng-controller="myCtrl">
            <h1>EMPRESA MULTIPLAN</h1>
            <p>Ingrese la distancia en Km: <input type="text" ng-model="distancia" placeholder="ingresa un número"/></p>
            <p>{{distancia}} Km</p>
            <p>Tarifa: S/{{tarifa}}</p>
            <p>Descuento: S/{{descuento}}</p>

            <div class="text-center mb-3">
                    <button type="button" class="btn btn-secondary" ng-click="CalcularMonto()">Calcula el monto</button>
            </div>
        </div>
    </div>


    <script src="viaje.js"></script>
  </body>
</html>



<!-- 
si es menor o igual a 300km = S/250 de tarifa fija
si es mayor a 300km, o menor o igual a 1000km = 250 + 30 * por cada kilometro
si es mayor a 1000km = 250 + (30 * cada kilometro recorrido despues de 300km) + (20 * cada kilometro recorrido despues de 1000)
10% de descuento por importes mayores a 500 soles 
-->